.section-why-choose {
    padding-block: 4rem;
    background-color: #fff;

    .section-heading {
        text-align: center;
        margin-bottom: 2.5rem;
    }

    .benefit-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    .benefit-card {
        flex: 1 1 calc(33.333% - 2rem);
        max-width: calc(33.333% - 2rem);
        background-color: #fff;
        border-radius: var(--border-radius);
        padding: 2rem 1.5rem 2.5rem;
        text-align: center;

        border: 1px solid var(--col-grey-200); // more defined than grey-100
        box-shadow: 0 4px 12px hsla(0, 0%, 0%, 0.04);

        h3 {
            font-size: var(--fs-500);
            margin-top: 1rem;
            margin-bottom: 0.5rem;
        }

        p {
            font-size: var(--fs-400);
            color: var(--col-grey-400);
            margin: 0;
        }
    }

    .benefit-icon {
        font-size: 2rem;
        width: 3rem;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-inline: auto;
        border-radius: 50%;
        background-color: hsl(var(--hsl-primary-300) / 0.15);
        color: var(--col-primary-400);
    }

    @media (max-width: 991.98px) {
        .benefit-card {
            flex: 1 1 100%;
            max-width: 100%;
        }
    }
}
