/* Colour Classes – Valewood Theme */

/* Neutrals */
.has-dark-color,
.text--dark {
    color: var(--col-dark);
}
.has-dark-background-color,
.bg--dark {
    background-color: var(--col-dark);
}

.has-light-color,
.text--light {
    color: var(--col-light);
}
.has-light-background-color,
.bg--light {
    background-color: var(--col-light);
}

.has-grey-400-color,
.text--grey-400 {
    color: var(--col-grey-400);
}
.has-grey-400-background-color,
.bg--grey-400 {
    background-color: var(--col-grey-400);
}

.has-grey-300-color,
.text--grey-300 {
    color: var(--col-grey-300);
}
.has-grey-300-background-color,
.bg--grey-300 {
    background-color: var(--col-grey-300);
}

.has-grey-200-color,
.text--grey-200 {
    color: var(--col-grey-200);
}
.has-grey-200-background-color,
.bg--grey-200 {
    background-color: var(--col-grey-200);
}

.has-grey-100-color,
.text--grey-100 {
    color: var(--col-grey-100);
}
.has-grey-100-background-color,
.bg--grey-100 {
    background-color: var(--col-grey-100);
}

/* Sage */
.has-primary-500-color,
.text--primary-500 {
    color: var(--col-primary-500);
}
.has-primary-500-background-color,
.bg--primary-500 {
    background-color: var(--col-primary-500);
}

.has-primary-400-color,
.text--primary-400 {
    color: var(--col-primary-400);
}
.has-primary-400-background-color,
.bg--primary-400 {
    background-color: var(--col-primary-400);
}

.has-primary-300-color,
.text--primary-300 {
    color: var(--col-primary-300);
}
.has-primary-300-background-color,
.bg--primary-300 {
    background-color: var(--col-primary-300);
}
.has-primary-100-background-color,
.bg--primary-100 {
    background-color: var(--col-primary-100);
}

/* Sand */
.has-secondary-400-color,
.text--secondary-400 {
    color: var(--col-secondary-400);
}
.has-secondary-400-background-color,
.bg--secondary-400 {
    background-color: var(--col-secondary-400);
}

.has-secondary-300-color,
.text--secondary-300 {
    color: var(--col-secondary-300);
}
.has-secondary-300-background-color,
.bg--secondary-300 {
    background-color: var(--col-secondary-300);
}
.has-secondary-100-background-color,
.bg--secondary-100 {
    background-color: var(--col-secondary-100);
}
