/* Colour Classes – Valewood Theme */

/* Neutrals */
.has-dark-color,
.text--dark {
    color: var(--col-dark);
}
.has-dark-background-color,
.bg--dark {
    background-color: var(--col-dark);
}

.has-light-color,
.text--light {
    color: var(--col-light);
}
.has-light-background-color,
.bg--light {
    background-color: var(--col-light);
}

.has-grey-400-color,
.text--grey-400 {
    color: var(--col-grey-400);
}
.has-grey-400-background-color,
.bg--grey-400 {
    background-color: var(--col-grey-400);
}

.has-grey-300-color,
.text--grey-300 {
    color: var(--col-grey-300);
}
.has-grey-300-background-color,
.bg--grey-300 {
    background-color: var(--col-grey-300);
}

.has-grey-200-color,
.text--grey-200 {
    color: var(--col-grey-200);
}
.has-grey-200-background-color,
.bg--grey-200 {
    background-color: var(--col-grey-200);
}

.has-grey-100-color,
.text--grey-100 {
    color: var(--col-grey-100);
}
.has-grey-100-background-color,
.bg--grey-100 {
    background-color: var(--col-grey-100);
}

/* Sage */
.has-sage-500-color,
.text--sage-500 {
    color: var(--col-sage-500);
}
.has-sage-500-background-color,
.bg--sage-500 {
    background-color: var(--col-sage-500);
}

.has-sage-400-color,
.text--sage-400 {
    color: var(--col-sage-400);
}
.has-sage-400-background-color,
.bg--sage-400 {
    background-color: var(--col-sage-400);
}

.has-sage-300-color,
.text--sage-300 {
    color: var(--col-sage-300);
}
.has-sage-300-background-color,
.bg--sage-300 {
    background-color: var(--col-sage-300);
}
.has-sage-100-background-color,
.bg--sage-100 {
    background-color: var(--col-sage-100);
}

/* Sand */
.has-sand-400-color,
.text--sand-400 {
    color: var(--col-sand-400);
}
.has-sand-400-background-color,
.bg--sand-400 {
    background-color: var(--col-sand-400);
}

.has-sand-300-color,
.text--sand-300 {
    color: var(--col-sand-300);
}
.has-sand-300-background-color,
.bg--sand-300 {
    background-color: var(--col-sand-300);
}
.has-sand-100-background-color,
.bg--sand-100 {
    background-color: var(--col-sand-100);
}
