.gform_required_legend,
.gfield_required {
    display: none !important;
}

.ginput_container input {
    border-radius: 0 !important;
}
.gfield_label {
    font-weight: var(--fw-500) !important;
}

.gform_button.button.button {
    @extend .button;
    border-radius: 100vw;
    display: inline-block;
    background-color: var(--col-blue-700);
    color: #fff;
    text-align: center;
    transition: all var(--transition);
    flex-basis: 274px;
    font-weight: var(--fw-400);
    padding: 0.75rem 1rem;
    line-height: 22.4px;
    font-size: 1rem;
}

.ginput_container {
    input:not([type='checkbox']),
    textarea {
        @extend .form-control;
    }
    input[type='checkbox'] {
        @extend .form-check;
    }
}

// I THOUGHT GRAVITY FORMS WAS BAD
// UNTIL I ENCOUNTERED CAMPAIGN MONITOR
.cmApp_signupContainer.cmApp_embedded {
    max-width: unset !important;
    width: unset !important;
}
#cmApp_signupEmail {
    @extend .form-control;
    border-radius: 0.365rem !important;
}
#cmApp_signupForm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    #cmApp_errorAll {
        grid-column: 1 / 4;
    }
    .cmApp_fieldWrap {
        grid-column: 1 / 4;
    }
}
